:root {
	--background-color: #ffffff;
	--text-color: #3e3e3e;
}

[data-theme="dark"] {
	--background-color: #121212;
	--text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #121212;
		--text-color: #ffffff;
	}
}

html {
	height: calc(100vh - 1em);
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	font-family: sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	transition: all 0.25s ease-in-out;
}

a {
	color: inherit;
}

.dice-box {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(8em,1fr));
	grid-gap: 1em;
	justify-items: center;
	width: 40em;
	max-width: 100%;
}

.dice {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--text-color);
	border-radius: 5px;
	width: 8em;
	height: 8em;
	position: relative;
	box-shadow: 0px 8px 6px -3px rgba(0,0,0,0.25);
	overflow: hidden;
}

.dice__side {
	display: none;
	margin: 0;
}

.dice__side--1,
.dice__side--2,
.dice__side--5 {
	position: absolute;
	top: 0;
	left: 0;
}

.dice__side--4 {
	position: absolute;
	top: -3px;
	left: 0;
}

.dice__side--6 {
	position: absolute;
	top: 45%;
}

.dice__side svg {
	width: 100%;
	height: 100%;
}

.dice__side--1 svg {
	width: 4.5em;
}

.dice__side--4 svg {
	width: 5.3em;
}

.dice--crossroads .dice__side--1 svg,
.dice--crossroads .dice__side--4 svg {
	width: 8em;
	height: 8em;
}

.dice--crossroads .dice__side--4 {
	top: 0;
}

.dice--crossroads .dice__side--2,
.dice--crossroads .dice__side--5 {
	width: 4.5em;
}

.dice--crossroads .dice__side--3,
.dice--crossroads .dice__side--6 {
	width: 1.15em;
	position: absolute;
	top: 0;
}

button {
	border: 2px solid var(--text-color);
	border-radius: 5px;
	margin-top: 1em;
	padding: 0.5em 1em;
	background-color: var(--background-color);
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

button:disabled {
	opacity: 0.4;
}

.toggles {
	position: absolute;
	top: 0;
	right: 1em;
}

.toggles button {
	border: 1px solid var(--text-color);
	padding: 0.5em;
	font-size: 0.8em;
}

.credits {
	text-align: center;
}